body {
    background-color: #f3f3f3;
}

.inner-con {
    font-family: 'Roboto', sans-serif;
    margin: 2.5rem auto;
    width: 350px;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   
    background-image: linear-gradient(to bottom right, rgba(22, 170, 193, 0.71),rgba(223, 123, 37, 0.5),rgba(68, 60, 183, 0.5));
    border-radius: 15px;
    padding:0 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#p1,
#p2 {
    font-weight: 400;
    margin-top: -0.2rem;
}

#p3 {
    font-weight: 200;
    color: rgb(0, 0, 0);
    font-size: 13px;
}

#p1 {
    margin-top: -13px;
    border-bottom: 2px solid rgb(212, 24, 24);
    padding-bottom: 10px;
    font-family: "poppins";
}

img {
    width: 250px;
    align-self: center;
    /* background-color: black; */
}

#email,
#pass {
     
    border: none;
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 500;

}

form {
    display: flex;
    flex-direction: column;
}

#submit {
    background-color: #0952d0;
    border: none;
    color: white;
    padding: 15px;
    margin-top: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    /* box-shadow: inset 0 0 50px rgb(0, 255, 26); */
}

.font {
    font-family: "poppins";
}